{% extends 'base.html' %}
{% block title %} Профайл пользователя  {{ author.get_full_name }} {% endblock %}
{% block content %}
  <div class="container py-5">        
    <h1>Все рецепты пользователя {{ author.get_full_name }} </h1>
    <h3>Всего рецептов: {{ author.recipes.count }} </h3>
    {% if reader == author %}
    {% elif following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'recipes:profile_unfollow' author.username %}" role="button"
      >
      Отписаться
      </a>
    {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'recipes:profile_follow' author.username %}" role="button"
      >
      Подписаться
      </a>
   {% endif %}
  </div> 
  {% for recipy in page_obj %}
    {% include 'includes/recipy_form.html' %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}