{% load static %}
{% with request.resolver_match.view_name as view_name %}
  <ul>
    {% thumbnail post.image "339x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <header>
      {{ recipy.name }}
    </header>
    <li>
      Автор: {{ recipy.author.get_full_name }}
      {% if view_name != 'recipes:profile' %}
        <a href="{% url 'recipes:profile' recipy.author %}">
          Все посты пользователя
        </a>
      {% endif %}
    </li>
    <li>
      Время приготовления: {{ recipy.cooking_time }}
    </li>
  </ul>
  <p>{{ recipy.text|truncatechars:30 }}</p>
  <p>
    <a href="{% url 'recipes:recipy_detail' recipy.id %}">
      Подробнее
    </a>
  </p>
{% endwith %}
