{% load static %}

<article class="blog_item">
  <div class="blog_item_img">
    <img class="card-img rounded-0" src="{% static 'img/blog/single_blog_1.png' %}" alt="">
    <a href="#" class="blog_item_date">
      <h3>{{ recipy.cooking_time }}</h3>
      <p>мин</p>
    </a>
  </div>
  <div class="blog_details">
    <a class="d-inline-block" href="single-blog.html">
      <h2>{{ recipy.name }}</h2>
    </a>
    <p>{{ recipy.text|truncatechars:150 }}</p>
    <ul class="blog-info-link">
      <li><a href="#"><i class="fa fa-user"></i> Автор {{ recipy.author }}</a></li>
      <li><a href="#"><i class="fa fa-newspaper-o"></i> Читать рецепт полностью</a></li>
    </ul>
  </div>
</article>
