{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Изменение пароля</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- testimonial_area  -->
<div class="testimonial_area overlay ">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-50">
          Изменить пароль
        </div>
        <div class="ifno">
          <div class="card-body">
            <form method="post" action="../users/password_change_form.html">
              <input type="hidden" name="csrfmiddlewaretoken" value="">
              <div class="form-group row my-3 p-3">
                <label for="id_old_password">
                  <h3> Старый пароль </h3> 
                  <span class="required text-danger">*</span>
                </label>   
                <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password">
              </div>
              <div class="form-group row my-3 p-3">
                <label for="id_new_password1">
                  <h3> Новый пароль </h3>
                  <span class="required text-danger">*</span>
                </label>
                <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
                  <small id="id_new_password1-help" class="form-text text-muted">
                    <ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul>
                  </small> 
              </div>
              <div class="form-group row my-3 p-3">
                <label for="id_new_password2">
                  <h3> Подтверждение нового пароля </h3>
                  <span class="required text-danger">*</span>
                </label>    
                <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
              </div>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  <h3> Изменить пароль </h3>
                </button>
              </div>
            </form>
          </div> <!-- card body -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /testimonial_area_end  -->

{% endblock %}