{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Пароль изменён</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- testimonial_area  -->
<div class="testimonial_area overlay ">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-50">
          Пароль изменён успешно
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /testimonial_area_end  -->

{% endblock %}