{% extends "base.html" %}
{% load static %}
{% block content %}
{% load user_filters %}

{% if validlink %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Новый пароль</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area  -->
<div class="testimonial_area overlay ">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-50">
          <h3> Введите новый пароль </h3>
          <div class="card-body">
            <form method="post" action="../users/lpassword_reset_confirm.html">
              <input type="hidden" name="csrfmiddlewaretoken" value="">
              <div class="form-group row my-3 p-3">
                <label for="id_new_password1">
                  Новый пароль        
                  <span class="required text-danger">*</span>        
                </label>    
                <input type="password" name="new_password1" class="form-control" required id="id_new_password1">      
                <small id="id_new_password1-help" class="form-text text-muted">
                  <ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul>
                </small>      
              </div>
              <div class="form-group row my-3 p-3">
                <label for="id_new_password2">
                  Подтверждение нового пароля        
                  <span class="required text-danger">*</span>        
                </label>    
                <input type="password" name="new_password2" class="form-control" required id="id_new_password2">      
              </div>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Назначить новый пароль
                </button>
              </div>
            </form>
          </div> <!-- card body -->
            </div> <!-- card -->
          </div> <!-- col -->
        </div> <!-- row -->
        <!-- если использована неправильная ссылка -->
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Ошибка
              </div>
              <div class="card-body">
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
              </div> <!-- card body -->
            </div> <!-- card -->
          </div> <!-- col -->
        </div> <!-- row -->
        <!-- конец если использована неправильная ссылка -->
      </div>
    </div>
  </div>
</div>
<!-- /testimonial_area_end  -->
{% else %}
<div class="bradcam_area bradcam_bg_3">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text text-center">
                  <h3>Ошибка</h3>
                  <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}