
<!-- about_area_start -->
<div class="about_area">
    <div class="icon_1 d-none d-md-block">
      <img src="{% static 'img/icon/1.png' %}" alt="">
    </div>
    <div class="icon_2 d-none d-md-block">
      <img src="{% static 'img/icon/2.png' %}" alt="">
    </div>
    <div class="icon_3 d-none d-md-block">
      <img src="{% static 'img/icon/3.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about_info_wrap">
            <h3>Вы в шаге от создания нового блюда</h3>
            <span class="long_dash"></span>
            <p>Хорошая кухня создает хороших людей.</p>
            <ul class="food_list">
              <li>
                <img src="{% static 'img/svg_icon/salad.svg' %}" alt="">
                <span>Свежие ингредиенты</span>
              </li>
              <li>
                <img src="{% static 'img/svg_icon/tray.svg' %}" alt="">
                <span>и немного магии</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about_img">
            <div class="img_1">
              <img src="{% static 'img/about/big.png' %}" alt="">
            </div>
            <div class="small_img">
              <img src="{% static 'img/about/small.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about_area_end -->